{% extends'layout_user.html.twig' %}

{% block title %}{{ 'title.edit_password'|trans }}{% endblock %}

{% block content %}
<h1>{{ 'title.edit_password'|trans }}</h1>
<h2></h2>

{% if error is defined and error|length %}
{{ error|trans }} <h1>aaa</h1>
{% endif %}

<div>
    {{ form_start(form, { method: 'post', action: path('auth_edit_own_password')}) }}
    {{ form_widget(form) }}
    <input type="submit" value="{{ 'button.change'|trans }}" class="button" />
    {{ form_end(form) }}
</div>
{% endblock %}
