{% extends 'layout_user.html.twig' %}

{% block title %}{{'title.list_training_5'|trans }}{% endblock %}

{% block content %}
    <h1>{{'title.list_training_5'|trans }}</h1>

    <table class="vitamins" width="50%" align="center" text-align="center">
        <thead>
        <tr>
            <th>{{ 'table.sport_time'|trans }}</th>
            <th>{{ 'table.sport_kcal'|trans }}</th>
            <th>{{ 'table.sport_distance'|trans }}</th>
            <th>{{ 'table.sport_name'|trans }}</th>
            <th>{{ 'label.Training_day'|trans}}</th>

        </tr>
        </thead>

        {% for data in paginator.data %}
            <tr>
                <td>{{ data.Sport_time }}</td>
                <td>{{ data.Sport_kcal }}</td>
                <td>{{ data.Sport_distance }}</td>
                <td>{{ data.Sport_Name}}</td>
                <td>{{ data.Training_day_day_number|date("Y-m-d") }}</td>
            </tr>
        {% endfor %}

    </table>

    {% include 'default/_paginator.html.twig' with {
    paginator: paginator,
    route_name: 'show_all_training',
    } %}


{% endblock %}